@model HMPPS.Site.ViewModels.Pages.BalancePageViewModel

<div id="global-header-bar"></div>

<div class="site-wrapper">

    @Html.Partial("/Views/Partials/_Breadcrumb.cshtml", Model.BreadcrumbItems)

    <div class="pub-c-title">
        <h1 class="heading-xlarge">
            @Html.Sitecore().Field("Page Title")
            @if (!Model.AccountBalancesAvailable)
            {
                @Html.Sitecore().Field("Account Balances Not Available Message")
            }
        </h1>
    </div>
    <div class="at-a-glance">
        <div class="grid-row">
            @if (Model.ShowAccountBalances)
            {
                <div class="column-one-third">
                    <div class="data">
                        @Html.Sitecore().Field("Account Spends Image", new { @class = "data-img remove-size-attributes" })
                        <span class="data-item data-heading heading-xlarge">&pound;@Model.AccountSpends.ToString("0.00")</span>
                        <span class="data-item bold-large">@Html.Sitecore().Field("Account Spends Text")</span>
                        <span class="data-item body-text">@Html.Sitecore().Field("Last Updated Text") @Html.Sitecore().Field("Today Text") @@ @Model.AccountBalancesLastUpdate.ToShortTimeString()</span>
                    </div>
                </div>
                <div class="column-one-third">
                    <div class="data">
                        @Html.Sitecore().Field("Account Private Cash Image", new { @class = "data-img remove-size-attributes" })
                        <span class="data-item data-heading heading-xlarge">&pound;@Model.AccountSpends.ToString("0.00")</span>
                        <span class="data-item bold-large">@Html.Sitecore().Field("Account Private Cash Text")</span>
                        <span class="data-item body-text">@Html.Sitecore().Field("Last Updated Text") @Html.Sitecore().Field("Today Text") @@ @Model.AccountBalancesLastUpdate.ToShortTimeString()</span>
                    </div>
                </div>
                <div class="column-one-third">
                    <div class="data">
                        @Html.Sitecore().Field("Account Savings Image", new { @class = "data-img remove-size-attributes" })
                        <span class="data-item data-heading heading-xlarge">&pound;@Model.AccountSpends.ToString("0.00")</span>
                        <span class="data-item bold-large">@Html.Sitecore().Field("Account Savings Text")</span>
                        <span class="data-item body-text">@Html.Sitecore().Field("Last Updated Text") @Html.Sitecore().Field("Today Text") @@ @Model.AccountBalancesLastUpdate.ToShortTimeString()</span>
                    </div>
                </div>
            }
        </div>
        @if (Model.ShowPhoneCredit)
        {
            <div class="grid-row">

                <div class="column-one-third">
                    <div class="data">
                        @Html.Sitecore().Field("Phone Credit Image", new {@class = "data-img remove-size-attributes"})
                        <span class="data-item data-heading heading-xlarge">&pound;@Model.PhoneCredit.ToString("0.00")</span>
                        <span class="data-item bold-large">@Html.Sitecore().Field("Phone Credit Text")</span>
                        <span class="data-item body-text">@Html.Sitecore().Field("Last Updated Text") @Html.Sitecore().Field("Today Text") @@ @Model.PhoneCreditLastUpdate.ToShortTimeString()</span>
                    </div>
                </div>

            </div>
        }
    </div>

</div>
