@model HMPPS.Site.ViewModels.Pages.HomepageViewModel

<main class="elements-index root-index" id="content" role="main" tabindex="-1">
    <header class="homepage-top">
        <div class="homepage-top-inner">
            <div class="welcome-block">
                <div class="inner-block floated-children">
                    <div class="welcome-text">
                        <div class="floated-inner-block">
                            <h1>@Html.Sitecore().Field("Page Title")</h1>
                            <h2 class="font-large">
                                @if (Sitecore.Context.User.IsAuthenticated)
                                {
                                    @Sitecore.Context.User.Profile.FullName @*<a href="/logout" style="color:#ff6a00">Logout</a>*@
                                }
                                else
                                {
                                    <span>Anonymous - <a href="/login" style="color:#ff6a00">Login via IDAM</a></span>
                                }
                            </h2>
                        </div>
                    </div>
                    @if (Model.ShowQuickLinks)
                    { 
                        <div class="content-links">
                            <div class="floated-inner-block content-links-inner">
                                <h2>@Html.Sitecore().Field("Quick Links Title")</h2>
                                <ul>
                                    <li><a href="@Model.SelfHelpLinkUrl" target="_blank">@Html.Sitecore().Field("Self Help Link Text")</a></li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="site-wrapper">
        <div class="image-grid">
            <div class="grid-row">
                @Html.Sitecore().Placeholder("feature-blocks-row-1")
            </div>
            <div class="grid-row">
                @Html.Sitecore().Placeholder("feature-blocks-row-2")
            </div>
            <div class="grid-row">
                @Html.Sitecore().Placeholder("feature-blocks-row-3")
            </div>
        </div>
    </div>
</main><!-- / #content -->
