@model HMPPS.Site.ViewModels.Pages.RadioPageViewModel

<div id="global-header-bar"></div>

<div class="site-wrapper">

    @Html.Partial("/Views/Partials/_Breadcrumb.cshtml", Model.BreadcrumbItems)

    <main class="elements-index root-index" id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="pub-c-title">
                    @if (Model.CurrentEpisode != null)
                    {
                        <h1 class="heading-xlarge">@Html.Sitecore().Field("Page Title") - @Model.CurrentEpisode.Title</h1>
                        if (Model.IsLatestEpisode)
                        {
                            <h2 class="heading-large">@Html.Sitecore().Field("Latest Episode Prefix Text") - @Model.CurrentEpisodeFormattedDate</h2>
                        }
                        else
                        {
                            <h2 class="heading-large">@Model.CurrentEpisodeFormattedDate</h2>
                        }
                    }
                </div>
                @if (Model.CurrentEpisode != null && !string.IsNullOrEmpty(Model.CurrentEpisode.FileUrl))
                {
                    <div class="audio-player-wrap">
                        <audio controls id="audio-player" class="video-js audio-player vjs-default-skin" preload="auto" poster="@Model.RadioShowPosterImage" >
                            <source src="@Model.CurrentEpisode.FileUrl" type="audio/mp3">
                            <div class="vjs-no-js">
                                @Html.Sitecore().Field("Enable Javascript Message")
                            </div>
                        </audio>
                    </div>
                }
                <div class="content">
                    @Html.Sitecore().Field("Main Content")
                </div>
                <div class="more-link">
                    @if (!string.IsNullOrEmpty(Model.RadioShowPreviousEpisodesUrl))
                    {
                        <h2 class="heading-large"><a href="@Model.RadioShowPreviousEpisodesUrl">@Html.Sitecore().Field("Show Previous Episodes Link Text")</a></h2>
                    }
                </div>
            </div>
            <div class="column-third add-title-margin">
                @if (Model.NeighbourEpisodes != null && Model.NeighbourEpisodes.Any())
                {
                    <aside class="related-content" data-module="track-click" role="complementary">
                        <h2>
                            @Html.Sitecore().Field("More Episodes Block Title")
                        </h2>
                        <nav role="navigation">
                            <ul class="list">
                                @foreach (var link in Model.NeighbourEpisodes)
                                {
                                    <li>
                                        <a href="@link.RadioEpisodeUrl">@link.Title</a>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Model.RadioShowPreviousEpisodesUrl))
                                {
                                    <li><a href="@Model.RadioShowPreviousEpisodesUrl">@Html.Sitecore().Field("Show Previous Episodes Link Text")</a></li>
                                }
                            </ul>
                        </nav>
                    </aside>
                }
            </div>
        </div>



    </main><!-- / #content -->

</div>
