@model HMPPS.Site.ViewModels.Pages.RadioPageViewModel

<div id="global-header-bar"></div>

<div class="site-wrapper">

    @Html.Partial("/Views/Partials/_Breadcrumb.cshtml", Model.BreadcrumbItems)

    <main class="elements-index root-index" id="content" role="main" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="pub-c-title">
                    <h1 class="pub-c-title__text ">
                        @Html.Sitecore().Field("Page Title") @Model.CurrentEpisode.Title
                    </h1>
                </div>
                @if (!string.IsNullOrEmpty(Model.CurrentEpisode.FileUrl))
                {
                    <div class="audio-player-wrap">
                        <audio controls id="audio-player" class="video-js audio-player vjs-default-skin" controls preload="auto">
                            <source src="@Model.CurrentEpisode.FileUrl" type="audio/mp3">
                            <div class="vjs-no-js">
                                @Html.Sitecore().Field("Enable Javascript Message")
                            </div>
                        </audio>
                    </div>
                }
                <div class="content">
                    @Html.Sitecore().Field("Main Content")
                </div>
                <div class="more-link">
                    <h2 class="heading-large"><a href="#">Show previous episodes (template to be built)</a></h2>
                </div>
            </div>
            <div class="column-third add-title-margin">
                @if (Model.NeighbourEpisodes.Any())
                {
                    <aside class="related-content" data-module="track-click" role="complementary">
                        <h2>
                            @Html.Sitecore().Field("More Episodes Block Title")
                        </h2>
                        <nav role="navigation">
                            <ul class="list">
                                @foreach (var link in Model.NeighbourEpisodes)
                                {
                                    <li>
                                        <a href="@link.RadioEpisodeUrl">@link.Title</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </aside>
                }
            </div>
        </div>



    </main><!-- / #content -->

</div>
