@using Sitecore
@using Sitecore.ExperienceAnalytics.Client
@using Sitecore.ExperienceAnalytics.Core.Extensions
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.Renderings
@using Sitecore.Web.UI.Controls.Common.UserControls
@using Globals = Sitecore.ExperienceAnalytics.Client.Globals
@using UserControl = Sitecore.Web.UI.Controls.Common.UserControls.UserControl
@model Sitecore.Mvc.Presentation.RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);

  rendering.Class = "sc-ExperienceAnalyticsFilters";
  rendering.Requires.Script("client", "ExperienceAnalyticsFilters.js");  
  rendering.Attributes.Add("data-bind", "visible: isVisible");
  rendering.HasNestedComponents = true;
}

@EmbedFilters(rendering)

@helper EmbedFilters(UserControl rendering)
{
  var renderingId = rendering.ControlId;
  var helper = new RenderingHelper(Html, renderingId);
  
  var selectedSubsiteName = "{Binding " + renderingId + "SubsiteFilter.SelectedSubsiteName}";

  var fromDate = DateUtil.ToServerTime(DateTime.UtcNow).AddMonths(-1).ToDateRangeFormat();
  var toDate = DateUtil.ToServerTime(DateTime.UtcNow).ToDateRangeFormat();

  var dateRangeText = string.Concat(fromDate, " - ", toDate);
  
  helper.MakeBorder("ContentWrapper", renderingId + "BarWrapper", contentWrapper =>
  {
    helper.MakeToggleButton("DateRangeToggleButton", contentWrapper, dateRangeText, true);
    helper.MakeToggleButton("FilterToggleButton", contentWrapper, selectedSubsiteName, true);
  });
  
  // Rendering
  <div @rendering.HtmlAttributes>
      @Html.Sitecore().Controls().Rendering(Html, Globals.Bcl.Renderings.Containers.Border, renderingId + "BarWrapper", "", new { })
    
      @Html.Sitecore().Controls().Rendering(Html, Globals.Layouts.Renderings.DateRangeFilter, renderingId + "DateRangeFilter", "", new
    {
      IsVisible = false
    })

    @Html.Sitecore().Controls().Rendering(Html, Globals.Layouts.Renderings.SubsiteFilter, renderingId + "SubsiteFilter", "", new
    {
      IsVisible = false
    })
    
  </div>
}