<aside class="related-content" data-module="track-click" role="complementary">
    <h2>@Html.Sitecore().Field("Title")</h2>
    <nav role="navigation">
        <ul class="list">
            <li>
                @Html.Sitecore().Field("Link 1")
            </li>
            <li>
                @Html.Sitecore().Field("Link 2")
            </li>
            <li>
                @Html.Sitecore().Field("Link 3")
            </li>
            <li>
                @Html.Sitecore().Field("Link 4")
            </li>
            <li>
                @Html.Sitecore().Field("Link 5")
            </li>
        </ul>
    </nav>
</aside>
