<!DOCTYPE html>
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

<!--[if gt IE 8]><!-->
<html lang="@Sitecore.Context.Language">
<!--<![endif]-->
<head>
    @Html.Sitecore().VisitorIdentification()
    @Html.Action("Head", "MvcLayout")
</head>

<body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    @Html.Action("SkipLink", "MvcLayout")

    @Html.Action("CookieMessage", "MvcLayout")

    @Html.Action("Header", "MvcLayout")

    @Html.Sitecore().Placeholder("content")

    @Html.Partial("/Views/Partials/_Footer.cshtml")

    <div id="global-app-error" class="app-error hidden"></div>

    @Html.Partial("/Views/Partials/_Scripts.cshtml", Sitecore.Context.Item.TemplateName)
</body>
</html>

