@using Sitecore.Data
@model Sitecore.Social.Client.Mvc.Areas.Social.Models.ShareButtonViewModel

@{
  var shareButtonId = string.Format("shareButton_{0}", ShortID.NewId());
}

<div style="float: right;" data-id="@shareButtonId">
  <a href="https://twitter.com/share"
     class="twitter-share-button"
     data-url='@HttpUtility.UrlPathEncode(Model.SharePageUrlWithAnalyticsParameters)'
     data-counturl='@HttpUtility.UrlPathEncode(Model.SharePageUrlWithAnalyticsParameters)'
     data-count="horizontal">@Model.Text</a>
</div>

<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<script>
  twttr.ready(function (twttr) {
    twttr.events.bind('tweet', function (event) {
      if (event.target.parentElement.attributes['data-id'].value === '@shareButtonId') {
        @Html.Raw(Model.SubscribeToShareButtonEventScript)
      }
    });
  });
</script>
